<?xml version="1.0"?>
<configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <appSettings>
    <add key="User" value="admin" />
    <add key="Password" value="EB0EAzhgA7U=" />
    <add key="Size" value="640,264,640,512,115" />
  </appSettings>
</configuration>
